.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.text_tamano
  font-size: 20px

.text_tamano_1
  font-size: 28px
  line-height: 1em

.text_tamano_2
  font-size: 32px

.color_text
  color: #8A80F4

.min-h
  min-height: 276px

.min-h_1
  min-height: 246px